@model int
@{
    ViewBag.Title = "Don";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Don</h2>
@if (@Model == 1)
{
    <div class="container">
        <h3>
        We send you requst to doctor wait for doctor Approv ,
        When he approv it show in you appointment </h3>
    </div>
}
